.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkslategrey;
}

h2 {
  text-align: center;
  color: whitesmoke;
}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  height: 20em;
  width: 20em;
  background-color: lightgray;
  border-radius: 50%;
  position: relative;
}

#hour {
  height: 3.5em;
  width: .3em;
  background-color: black;
  position: absolute;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  transform-origin: bottom;
  top: 6.5em;
}

#minute {
  height: 6em;
  width: .2em;
  background-color: darkcyan;
  position: absolute;
  top: 4em;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: bottom;
}

#second {
  height: 8em;
  width: .1em;
  background-color: red;
  position: absolute;
  top: 2em;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: bottom;
}

#msec {
  height: 8em;
  width: .1em;
  background-color: darkcyan;
  position: absolute;
  top: 2em;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform-origin: bottom;
}

.tx {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: large;
}

.crc {
  position: absolute;
  left: calc(50% + 5em);
  z-index: 2;
  background-color: darkgray;
}

#a1 {
  transform: rotate(30deg);
}

#a2 {
  transform: rotate(60deg);
}

#a3 {
  transform: rotate(90deg);
}

#a4 {
  transform: rotate(120deg);
}

#a5 {
  transform: rotate(150deg);
}

#a6 {
  transform: rotate(180deg);
}

#a7 {
  transform: rotate(210deg);
}

#a8 {
  transform: rotate(240deg);
}

#a9 {
  transform: rotate(270deg);
}

#a10 {
  transform: rotate(300deg);
}

#a11 {
  transform: rotate(330deg);
}

.tx #s1 {
  rotate: -30deg;
}

.tx #s2 {
  rotate: -60deg;
}

.tx #s3 {
  rotate: -90deg;
}

.tx #s4 {
  rotate: -120deg;
}

.tx #s5 {
  rotate: -150deg;
}

.tx #s6 {
  rotate: -180deg;
}

.tx #s7 {
  rotate: -210deg;
}

.tx #s8 {
  rotate: -240deg;
}

.tx #s9 {
  rotate: -270deg;
}

.tx #s10 {
  rotate: -300deg;
}

.tx #s11 {
  rotate: -330deg;
}

label {
  color: whitesmoke;
}

.alarm {
  position: absolute;
  top: 27rem;
  left: 33%;
  font-weight: bold;
}

#alarm-time {
  background-color: lightgray;
  margin-left: .75em;
}

.btn {
  background-color: lightgray;
  height: 1.5rem;
  margin: 0 1.75rem;
}

.link {
  position: absolute;
  top: 30em;
  left: 44%;
  color: whitesmoke;
}

.status{
  color: whitesmoke;
}